.navbar{
    background-color: white;
    font-family: "Arial";
    color: black;
}

.navbar_logo {
    width: 4vw;
    height: 3.5vw;
}

.text_container{
    padding: 10px;
}

.image {
    border-radius: 50%;
    background-color: white;
    height: 25vw;
    width: 25vw;
    margin-left: 2vw;
    transition: 0.2s;

}

.image:hover {
    transform: scale(1.1);
}