body{
    background-color: #7c8ba0;
    font-family: "Comic Sans MS";
}

.bubble{
    border-radius: 5vw;
    color: white;
    margin-bottom: 5%;
    padding:2%;
    align-content: center;
}

.design{
    background-color: #e2cf93;
}

.engineering {
    background-color: #8CABAD;
}

.production {
    background-color: #2BA93B;
}

.final {
    background-color: #9277FB;
}

.parts{
    background-color: #839191;
}

.shipment{
    background-color: #839191;
}

.monitoring {
    background-color: #dde6ed;
}

.game {
    background-color: white;
    color: black;
}

.team {
    background-color: #04adef;
    color: white;
}

.play_button {
    border-radius: 2vw;
    position: absolute;
    left: 45vw;
    top: 25vw;
    width: 10vw;
    height: 10vw;
    transition: 0.2s;
}

.play_button:hover {
    transform: scale(1.1);
}

.text_container{
    padding: 10px;
}

.read_more_button {
    width: auto;
}

.read_more_button:hover{
    transform: scale(1.1);
}

.left {
    float: left;
}

.right{
    float: right;
}
